.ticket-button-center { padding: 13px 40px 0; height: 43px; }

.bg-home-post-top span { margin: 13px 0 0 30px }

.footer_box .searchform-right input.submit-button { padding: 7px 0 0 10px; }

.big-black-center,
.big-white-center,
.big-red-center,
.big-gray-center { padding: 15px 20px 0; height: 41px; }

.small-black-center,
.small-white-center,
.small-red-center,
.small-gray-center { padding: 10px 10px 0; height: 26px; }

.sidebar_widget_holder .tag-center { padding: 9px 7px 0; height: 27px; }

.footer_box .button-center-tag { padding: 9px 7px 0; height: 25px; }

.footer_box #wp-calendar { margin-top: 30px; }

.footer_box #wp-calendar caption { margin-bottom: -550px; }

.sidebar_widget_holder #s input.search-submit-button { padding: 0 0 0 10px }

.sidebar_widget_holder #calendar_wrap  { margin-top: 30px; }

.sidebar_widget_holder #wp-calendar caption { margin-bottom: -550px; }

.search-submit-button{float: left!important;border: none!important}
#s .search-input{width: 97%!important }
.nav ul li a{border-left: 1px solid #999!important}
.nav .sub-menu li a{border-left: none!important}
.nav .sub-menu{border-left: none!important;outline: none!important;background: none!important;width: 0!important}

.shortcodes .small-black-center,
.shortcodes .small-white-center,
.shortcodes .small-red-center,
.shortcodes .small-gray-center { padding: 7px 10px 0; height: 29px; }
