.ticket-button-center { padding: 15px 40px 0; height: 41px; }

.footer_box .searchform-right input.submit-button { padding: 6px 0 0 11px; }

.big-black-center,
.big-white-center,
.big-red-center,
.big-gray-center { padding: 15px 20px 0; height: 41px; }

.small-black-center,
.small-white-center,
.small-red-center,
.small-gray-center { padding: 9px 10px 0; height: 27px; }

.footer_box .button-center-tag { padding: 9px 7px 0; height: 25px; }

.bg-home-post-top span { margin: 14px 0 0 30px; }


