.ticket-button-center { padding: 13px 40px 0; height: 43px; }

.bg-home-post-top span { margin: 13px 0 0 30px }

.footer_box .searchform-right input.submit-button { padding: 4px 0 0 6px; }

.big-black-center,
.big-white-center,
.big-red-center,
.big-gray-center { padding: 13px 20px 0; height: 43px; }

.small-black-center,
.small-white-center,
.small-red-center,
.small-gray-center { padding: 9px 10px 0; height: 27px; }

.sidebar_widget_holder .tag-center { padding: 9px 7px 0; height: 27px; }

.footer_box .button-center-tag { padding: 9px 7px 0; height: 25px; }

.sidebar_widget_holder #s input.search-submit-button { padding: 0 0 0 6px }

.shortcodes .small-black-center,
.shortcodes .small-white-center,
.shortcodes .small-red-center,
.shortcodes .small-gray-center { padding: 7px 10px 0; height: 29px; }